$red: #C20023;
$white: #f1f1f1;

.navbar {
  height: 60px;
  width: 100%;
  color: $white;
  background-color: rgb(9, 11, 19);
  position: fixed;
  z-index: 100;
}

.navbar-items {
  font-size: 26px;
  height: 100%;
}

.items {
  margin: 0 30px;
  color: $white;
  font-family: 'Namun Gotic', sans-serif;
  letter-spacing: 1px;
  transition: border-bottom 1s ease;
}

a {
  position: relative;
  text-decoration: none;
  line-height: 45px;
  color: $white;
}

a::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  border: 2px solid transparent;
}

a:hover::after {
  animation: hover 0.5s linear forwards;
}

@keyframes hover {
  0% {
    width: 0;
    height: 0;
    border-bottom-color: transparent;
  }
  50% {
    width: 0;
    height: 100%;
    border-bottom-color: #fff;
  }
  100% {
    width: 100%;
    height: 100%;
    border-bottom-color: #fff;
  }
}

//sass --watch src/styles/navbar/navbar.scss src/styles/navbar/navbar.css