$red: #C20023;
$white: #f1f1f1;

.navbar {
  height: 60px;
  width: 100%;
  color: $white;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;
  padding-top: 20px;
}

.navbar-items {
  font-size: 26px;
  height: 100%;
  display: flex;
  align-items: center;
}

.items {
  margin: 0 50px;
  color: $white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  transition: border-bottom 1s ease-in-out;
}

a {
  position: relative;
  text-decoration: none;
  line-height: 50px;
  display: block;
  color: $white;
}

a::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  border: 2px solid transparent;
}

a:hover::after {
  animation: hover 1s linear forwards;
}

@keyframes hover {
  0% {
    width: 0;
    height: 0;
    border-bottom-color: transparent;
  }
  50% {
    width: 0;
    height: 100%;
    border-bottom-color: #fff;
  }
  100% {
    width: 100%;
    height: 100%;
    border-bottom-color: #fff;
  }
}