.form-contact {
  text-align: center;
  padding-top: 70px;
  margin: 0 auto;
  width: 50%;

  .form-content {
    display: grid;
    margin: 0 auto;
    grid-template-rows: 100px 150px 30px;

    textarea {
      height: auto;
      width: 100%;
      line-height: 50px;
      display: block;
    }

    .form-name, .form-email {
      width: 100%;

      input {
        width: 90%;
      }
    }

    .form-message {
      grid-column: 1 / span 3;
    }

    .form-submit {
      grid-row: 3;
      grid-column: 1 / span 3;
    }
  }
}